@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Roboto:700');

.navbar {
background:#fff!important;
}

.navbar .navbar-brand {
	font-family: 'Roboto Condensed', sans-serif;
	color:#444C50;
	font-size:25px;
	font-weight:600;
}

.navbar ul.navbar-nav li.nav-item .nav-link {
font-family: 'Roboto', sans-serif;
font-size:18px;
color:#444C50;
padding:0px 41px;
}
.carousel-caption{
	top:15%!important;
	
	
}
.carousel-caption h5{
	font-family: 'Roboto', sans-serif;
	font-size:70px;
	color:#fff;
    text-shadow:1px 1px 15px #000;
     letter-spacing:5px;
}
.carousel-caption p{
	font-family: 'Roboto Condensed', sans-serif;
	font-size:25px;
	color:#fff;
	font-weight:300!important;
	max-width:788px;
	margin:0 auto;
	
	text-shadow:1px 1px 15px #000;
}
section#content1{
margin-top:25px;
}

section#content1 .colon1{
background:#e8e8e8;
min-height:259px;
margin-top:25px;
}
section#content1 .colon1 img{
margin:0 auto;
padding:27px 0;
max-width:100px;
display:block;
}

section#content1 .colon1 h2{
font-family: 'Roboto Condensed', sans-serif;
font-size:20px;
font-weight:350;
text-align:center;
}
section#content1 .colon1 p{
font-family: 'Roboto Condensed', sans-serif;
font-size:15px;
font-weight:300;
text-align:center;
}




.jumbotron {
background-color:#444C50;
text-align:center;
margin-top:-4%;;


}
.jumbotron p {
	font-size:20px;
	letter-spacing:2px;
	color:#fff;
	
	
	}
	
.jumbotron h1 {
	font-size:50px;
	color:#fff;
	font-family: 'Roboto', sans-serif;
	
	}

	
	
